@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Cormorant+Garamond:wght@400&family=Geist:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .all-unset {
    all: unset;
  }
}

.wedding-hero-image {
  background-image: image-set(
    url("/figmaAssets/heroimage-960.webp") 1x,
    url("/figmaAssets/heroimage.webp") 2x
  );
}


:root {
  --coal-400: rgba(58, 56, 53, 1);
  --editorial-accentsburgundy: rgba(148, 63, 55, 1);
  --mobile-heading-h1-font-family: "Cormorant Garamond", Helvetica;
  --mobile-heading-h1-font-size: 32px;
  --mobile-heading-h1-font-style: normal;
  --mobile-heading-h1-font-weight: 400;
  --mobile-heading-h1-letter-spacing: 0px;
  --mobile-heading-h1-line-height: 90%;
  --mobile-heading-h3-itallics-font-family: "Cormorant Garamond", Helvetica;
  --mobile-heading-h3-itallics-font-size: 24px;
  --mobile-heading-h3-itallics-font-style: italic;
  --mobile-heading-h3-itallics-font-weight: 400;
  --mobile-heading-h3-itallics-letter-spacing: 0px;
  --mobile-heading-h3-itallics-line-height: normal;
  --mobile-heading-h4-font-family: "Cormorant Garamond", Helvetica;
  --mobile-heading-h4-font-size: 18px;
  --mobile-heading-h4-font-style: normal;
  --mobile-heading-h4-font-weight: 400;
  --mobile-heading-h4-letter-spacing: 0px;
  --mobile-heading-h4-line-height: 100%;
  --primary-systembeige: rgba(231, 227, 220, 1);
  --primary-systemcoal: rgba(23, 22, 21, 1);
  --primary-systemfairy: rgba(255, 255, 255, 1);
  --primary-systemivory: rgba(245, 242, 236, 1);
  --primary-systemmid-gray: rgba(119, 115, 109, 1);
  --primary-systemwarm-gray: rgba(166, 155, 141, 1);
  --systemorange-light: rgba(255, 149, 0, 1);
  --web-body-l-font-family: "Inter", Helvetica;
  --web-body-l-font-size: 20px;
  --web-body-l-font-style: normal;
  --web-body-l-font-weight: 400;
  --web-body-l-letter-spacing: 0px;
  --web-body-l-line-height: 160%;
  --web-body-m-font-family: "Inter", Helvetica;
  --web-body-m-font-size: 18px;
  --web-body-m-font-style: normal;
  --web-body-m-font-weight: 400;
  --web-body-m-letter-spacing: 0px;
  --web-body-m-line-height: 160%;
  --web-body-s-font-family: "Inter", Helvetica;
  --web-body-s-font-size: 16px;
  --web-body-s-font-style: normal;
  --web-body-s-font-weight: 400;
  --web-body-s-letter-spacing: 0px;
  --web-body-s-line-height: 155%;
  --web-body-XS-font-family: "Inter", Helvetica;
  --web-body-XS-font-size: 14px;
  --web-body-XS-font-style: normal;
  --web-body-XS-font-weight: 400;
  --web-body-XS-letter-spacing: 0px;
  --web-body-XS-line-height: 150%;
  --web-caption-font-family: "Inter", Helvetica;
  --web-caption-font-size: 12px;
  --web-caption-font-style: normal;
  --web-caption-font-weight: 400;
  --web-caption-letter-spacing: 0px;
  --web-caption-line-height: 150%;
  --web-display-l-font-family: "Cormorant Garamond", Helvetica;
  --web-display-l-font-size: 40px;
  --web-display-l-font-style: normal;
  --web-display-l-font-weight: 400;
  --web-display-l-letter-spacing: 0px;
  --web-display-l-line-height: 110%;
  --web-display-l2-font-family: "Cormorant Garamond", Helvetica;
  --web-display-l2-font-size: 40px;
  --web-display-l2-font-style: italic;
  --web-display-l2-font-weight: 400;
  --web-display-l2-letter-spacing: 0px;
  --web-display-l2-line-height: 100%;
  --web-display-XL-font-family: "Cormorant Garamond", Helvetica;
  --web-display-XL-font-size: 48px;
  --web-display-XL-font-style: normal;
  --web-display-XL-font-weight: 400;
  --web-display-XL-letter-spacing: 0px;
  --web-display-XL-line-height: 115%;
  --web-display-XXL-font-family: "Cormorant Garamond", Helvetica;
  --web-display-XXL-font-size: 64px;
  --web-display-XXL-font-style: normal;
  --web-display-XXL-font-weight: 400;
  --web-display-XXL-letter-spacing: -0.64px;
  --web-display-XXL-line-height: 100%;
  --web-heading-h1-font-family: "Cormorant Garamond", Helvetica;
  --web-heading-h1-font-size: 36px;
  --web-heading-h1-font-style: normal;
  --web-heading-h1-font-weight: 400;
  --web-heading-h1-letter-spacing: 0px;
  --web-heading-h1-line-height: 120.00000762939453%;
  --web-heading-h2-font-family: "Cormorant Garamond", Helvetica;
  --web-heading-h2-font-size: 30px;
  --web-heading-h2-font-style: normal;
  --web-heading-h2-font-weight: 400;
  --web-heading-h2-letter-spacing: 0px;
  --web-heading-h2-line-height: 125%;
  --web-heading-h3-font-family: "Cormorant Garamond", Helvetica;
  --web-heading-h3-font-size: 24px;
  --web-heading-h3-font-style: normal;
  --web-heading-h3-font-weight: 400;
  --web-heading-h3-letter-spacing: 0px;
  --web-heading-h3-line-height: 130%;
  --web-heading-h4-font-family: "Cormorant Garamond", Helvetica;
  --web-heading-h4-font-size: 18px;
  --web-heading-h4-font-style: normal;
  --web-heading-h4-font-weight: 400;
  --web-heading-h4-letter-spacing: 0px;
  --web-heading-h4-line-height: 135%;
  --web-label-m-font-family: "Inter", Helvetica;
  --web-label-m-font-size: 14px;
  --web-label-m-font-style: normal;
  --web-label-m-font-weight: 500;
  --web-label-m-letter-spacing: 0px;
  --web-label-m-line-height: 140%;
  --web-label-s-font-family: "Inter", Helvetica;
  --web-label-s-font-size: 12px;
  --web-label-s-font-style: normal;
  --web-label-s-font-weight: 500;
  --web-label-s-letter-spacing: 0px;
  --web-label-s-line-height: 140%;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
